*{
    margin: 5px 5px 5px 5px;
}
.nav-link {
    position: relative;
    left: 420px;
    padding: 20px 50px 20px 50px;
    font-size: 20px;
}
.navbar {
    background-color: #8bd7fc;
}

body {
    background-color:skyblue ;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}
.container{

    width: auto;
    margin: auto;
    overflow: hidden;
    background-color:#9acd32 ;
    color: black;
}
#main-header{
    background-color:#9acd32 ;
   
}
.Intro{
background-image: url('../Images/Bins.jpg');
background-position: cetre right;
height: 600px;
margin-bottom: 30px;
background-repeat: inherit;

}
.Intro h2{
color:black ;
padding: auto;
}
.Intro p{
    color:black;
}
#Punchline{
    color:black;

}